@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

@font-face {
  font-family: 'hero_title';
  src: url('./src/c22ccc5eb58b83e1-s.p.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body{
    font-family: "Fredoka", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo_text{
    font-family:"Fredoka", serif;
    font-weight: 700;
    font-style: normal;
}

button{
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
}

.Title{
    font-family: 'Fredoka', sans-serif;
}

.marquee{
    transform: translateX(-100%);
}

.service-wrapper {
  animation: scroll-left 20s linear infinite;
  will-change: transform;
}

.featured{
     padding: 10vw 15vw;
}
.fimages{
    display: flex;
    border: 2px solid red;
    height: 100vh;
    justify-content:space-between;
}

.fleft{
   overflow: hidden;
    width:45%;
    height: inherit;
    border: 1px solid  blue
}

.fleftlm{
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fright{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:45%;
    height: inherit;
    border: 1px solid  green;
}

.fright .images{
  width: 90%;
  height: 90%;
  background-color: red;
}

@keyframes scroll-left {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-100%);
  }
}
