@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

@font-face {
  font-family: 'hero_title';
  src: url('./src/c22ccc5eb58b83e1-s.p.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body{
    font-family: "Fredoka", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo_text{
    font-family:"Fredoka", serif;
    font-weight: 700;
    font-style: normal;
}

button{
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
}

.Title{
    font-family: 'Fredoka', sans-serif;
}

.marquee{
    transform: translateX(-100%);
}